body {
    font-family: Arial;
    background: #87ceeb;
    text-align: center;
}

.container {
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    width: 300px;
    border-radius: 8px;
}

#weather {
    margin-top: 20px;
    font-size: 18px;
}